<app-layout>
  <div class="container-fluid mt-2 min-vh-100">
    <!-- Título -->
    <div class="row mb-2">
      <h6>Icons</h6>
    </div>

    <!-- Iconos -->
    <div class="d-flex flex-wrap gap-3">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example menu icon"
        fontIcon="menu"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example search icon"
        fontIcon="search"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example close icon"
        fontIcon="close"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example delete icon"
        fontIcon="delete"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example edit icon"
        fontIcon="edit"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example check icon"
        fontIcon="check"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example cancel icon"
        fontIcon="cancel"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example save icon"
        fontIcon="save"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example download icon"
        fontIcon="download"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example upload icon"
        fontIcon="upload"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example settings icon"
        fontIcon="settings"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example help icon"
        fontIcon="help"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example info icon"
        fontIcon="info"
      ></mat-icon>
    </div>
  </div>

  <app-footer></app-footer>
</app-layout>
