<mat-list>
  <mat-nav-list routerLink="{{ routes.HOME }}" routerLinkActive="active">
    <div class="icon-text-container">
      <mat-icon>home</mat-icon>
      <span mat-line>Inicio</span>
    </div>
  </mat-nav-list>
  <mat-nav-list routerLink="{{ routes.FORMS_CONTAINER }}" routerLinkActive="active">
    <div class="icon-text-container">
      <mat-icon>list_alt</mat-icon>
      <span> Respuestas de Formularios</span>
    </div>
  </mat-nav-list>
  <mat-list>
    <mat-nav-list class="ui-element" routerLink="{{ routes.PERSONAL_FORM }}" routerLinkActive="active">
      <div class="icon-text-container">
        <mat-icon>contact_page</mat-icon>
        <span>Datos Personales</span>
      </div>
    </mat-nav-list>
    <mat-nav-list class="ui-element" routerLink="{{ routes.PROFESSIONAL_FORM }}" routerLinkActive="active">
      <div class="icon-text-container">
        <mat-icon>work</mat-icon>
        <span>Datos Profesionales</span>
      </div>
    </mat-nav-list>
  </mat-list>
</mat-list>
