<div class="footer container-fluid d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between align-items-center">
  <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center align-items-sm-start mb-3 mb-sm-0">
    <span class="text-white me-sm-3 mb-2 mb-sm-0 text-center">Todos los derechos reservados &copy; 2024</span>
  </div>

  <div class="d-flex justify-content-center justify-content-sm-end align-items-center">
    <button matTooltip="botón sin funcionalidad" mat-mini-fab  class="me-2">
      <mat-icon>facebook</mat-icon>
    </button>
    <button matTooltip="botón sin funcionalidad" mat-mini-fab  class="me-2">
      <mat-icon>south_america</mat-icon>
    </button>
    <button matTooltip="botón sin funcionalidad" mat-mini-fab >
      <mat-icon>compost</mat-icon>
    </button>
  </div>
</div>
