<mat-toolbar class="header">
  <div class="header__title">
    <button class="header__title-button" mat-mini-fab (click)="openMenu()">
      <mat-icon *ngIf="!isMenuOpened" class="header__title-button-icon">menu
      </mat-icon>
      <mat-icon *ngIf="isMenuOpened" class="header__title-button-icon">arrow_back</mat-icon>
    </button>

    <div class="logo">
      <img class="img-fluid" src="assets/logo.png" />
    </div>

    <h6 *ngIf="!showIconTitleResponsive" class="header__title-text">
      title </h6>
  </div>
</mat-toolbar>
